<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your Food Lists</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foods.css" type="text/css" />
    <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
    <!-- IF YOU HAVE TOO MANY VERSIONS OF JQUERY INCLUDED, YOU WILL GET ISSUES WITH AJAX! ONLY HAVE ONE!! -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/modal.js"></script>
    <script type="text/javascript" src="/scripts/db_calls.js"></script>
</head>

<body>

    <div class="container-fluid header">
        <div class="row">
            <div class='col-8'>
                <img id="logo" src="https://s-media-cache-ak0.pinimg.com/736x/cc/4f/93/cc4f9358912141e893982d4908f87d70.jpg">
                <h1 id="title">Fridge Friend</h1>
            </div>
            <div class="col-4">
                <form method="POST" action="/session">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="logout-button" type="submit" value="Logout">
                </form>
                <p class='msg-to-user'> Hello there
                    <%= name %>, hungry? </p>
            </div>
        </div>
    </div>

    <div class="container-fluid foods">
        <div class="row lists">

            <div class="col-6">
                <div class='list-box well'>
                    <h3>Grocery List </h3>
                    <form id="grocery-list" action="/food/shopping" method="post">

                        <div class="input-group">
                            <input type="text" class="form-control food-item" name="food-item" placeholder="Feed me food..">
                            <!--    <button type="button" class="btn btn-default">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <input id="save" type="submit" value="Save">
                            <input id="clear" type="button" value="Clear">
                            <input id="purchased" type="button" value="Purchased">
                        </div>
                    </form>
                    <div>
                        <ul class="list-group checked-list-box shopping">
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="list-box col-6">
                <div class='well sink'>
                    <h3>Inventory List</h3>
                    <ul class="list-group checked-list-box inventory">
                            </button> -->
                            <input id="save" type="submit" value="Save">
                            <input id="purchased" type="button" value="Purchased">
                        </div>
                    </form>
                    <div>
                        <ul class="list-group checked-list-box shopping">
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                        </ul>
                        <ul class="inventory-list-group">
                            <li class="inventory">
                                <input data-qty="3" type="number" class="form-control inv-qty" name="inv-qty" placeholder="qty">
                            </li>
                            <li class="inventory"></li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class='list-box well'>
                    <h3>Inventory List</h3>
                    <button id="Recipes"> Recipes </button>
                    <button id="Update"> Update Qtys </button>

                    <ul class="list-group checked-list-box inventory">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="display-json">
                <img src='./images/giphy.gif'>
            </div>
        </div>
</body>

</html>