<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your Food Lists</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foods.css" type="text/css" />
    <!-- IF YOU HAVE TOO MANY VERSIONS OF JQUERY INCLUDED, YOU WILL GET ISSUES WITH AJAX! ONLY HAVE ONE!! -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
    <div class="container-fluid header">
        <div class="row">
            <div class='col-8'>
                <img id="logo" src="https://s-media-cache-ak0.pinimg.com/736x/cc/4f/93/cc4f9358912141e893982d4908f87d70.jpg">
                <h1 id="title">Fridge Friend</h1>
            </div>
            <div class="col-4">
                <form method="POST" action="/session">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="logout-button" type="submit" value="Logout">
                </form>
                <p class='msg-to-user'> Hello there
                    <%= name %>, hungry? </p>
            </div>
        </div>
    </div>

    <div class="container-fluid foods">
        <div class="row lists">

            <div class="col-6">
                <div class='list-box well'>
                    <h3>Grocery List </h3>
                    <ul id="check-list-box" class="list-group checked-list-box shopping-list">
                        <!--<li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item" data-color="success">eggs
                        </li>
                        <li class="list-group-item" data-color="info">bacon
                        </li>
                        <li class="list-group-item" data-color="warning">toast
                        </li>
                        <li class="list-group-item" data-color="danger">butter
                        </li>-->
                    </ul>
                    <form id="grocery-list" action="/food/shopping" method="post">
                        <input id="save" type="submit" value="Save">
                        <input id="clear" type="button" value="Clear">
                        <input id="purchased" type="button" value="Purchased">
                        <div class="input-group">
                            <!-- <span class="input-group-addon">
                              <input type="checkbox">
                              </span> -->
                            <input type="text" class="form-control food-item" name="food-item" placeholder="Feed me food..">
                            <input type="number" class="form-control food-qty" name="food-qty" placeholder="qty">
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                        <!-- <button id="save" type="submit"> Save </button>
                        <button id="clear"> Clear </button>
                        <button id="purchased"> Purchased</button> -->
                    </form>

                </div>
            </div>
            <div class="col-6">
                <div class=' well sink pre-scrollable'>
                </div>
                <!-- Implementing bootstrap check boxes from : http://bootsnipp.com/snippets/featured/checked-list-group-->
                <!--https://v4-alpha.getbootstrap.com/components/list-group/-->
                <div class="list-box col-6">
                    <div class='well sink'>

                        <h2>Modal Example</h2>

                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn">Open Modal</button>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>Some text in the Modal..</p>
                            </div>

                        </div>

                        <pre id="display-json"></pre>
                        <!--<button id="Recipes"> Recipes </button>-->
                        <button class="btn btn-primary col-xs-12" id="get-ingredients">Recipes</button>
                        <button id="Update"> Update Qtys </button>
                        <div class="well" style="max-height: 300px;overflow: auto;">
                            <ul id="ingredient-list" class="list-group checked-list-box">
                                <li class="list-group-item">hash browns.</li>
                                <li class="list-group-item" data-color="success">eggs</li>
                                <li class="list-group-item" data-color="info">bacon</li>
                                <li class="list-group-item" data-color="warning">toast</li>
                                <li class="list-group-item" data-color="danger">butter</li>
                            </ul>
                            <br />
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio
                                    <input data-qty="3" type="number" class="form-control inv-qty" name="inv-qty" placeholder="qty">
                                </li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                            </ul>
                            <button id="Recipes"> Recipes </button>
                            <button id="Update"> Update Qtys </button>

                        </div>
                    </div>
                </div>
            </div>

        </div>

</body>

</html>