<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your Food Lists</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foods.css" type="text/css" />
    <!-- IF YOU HAVE TOO MANY VERSIONS OF JQUERY INCLUDED, YOU WILL GET ISSUES WITH AJAX! ONLY HAVE ONE!! -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

      <div class="container-fluid header">
          <div class="row">
              <div class='col-8'>
                <img id="logo" src="https://s-media-cache-ak0.pinimg.com/736x/cc/4f/93/cc4f9358912141e893982d4908f87d70.jpg">
                <h1 id="title">Fridge Friend</h1>
              </div>
              <div class="col-4">
                <form method="POST" action="/session">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="logout-button" type="submit" value="Logout">
                </form>
                <p class='msg-to-user'> Hello there <%= name %>, hungry? </p>
              </div>
          </div>
      </div>

     <div class="container-fluid foods">
        <div class="row lists">

            <div class="col-6">
                <div class='list-box well'>
                    <h3>Grocery List </h3>
                    <form id="grocery-list" action="/food/shopping" method="post">
                        <input id="save" type="submit" value="Save">
                        <input id="clear" type="button" value="clear">
                        <input id="purchased" type="button" value="purchased">
                        <div class="input-group">
                            <span class="input-group-addon">
                              <input type="checkbox">
                             </span>
                            <input type="text" class="form-control food-item" name="food-item" placeholder="Feed me food..">
                            <input type="number" class="form-control food-qty" name="food-qty" placeholder="qty">
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-trash-o"></i>
                            </button>

                        </div>
                        <button id="save" type="submit"> Save </button>
                        <button id="clear"> Clear </button>
                        <button id="purchased"> Purchased</button>
                    </form>

                </div>
            </div>
            <div class="list-box col-6">
                <div class='well sink'>
                    <h3>Inventory List</h3>

                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio
                            <input data-qty="3" type="number" class="form-control inv-qty" name="inv-qty" placeholder="qty">
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                        <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                        <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                        <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
                        <li class="list-group-item justify-content-between">
                            Cras justo odio
                            <span class="badge badge-default badge-pill">14</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Dapibus ac facilisis in
                            <span class="badge badge-default badge-pill">2</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Morbi leo risus
                            <span class="badge badge-default badge-pill">1</span>
                        </li>
                    </ul>
                    <button id="Recipes"> Recipes </button>
                    <button id="Update"> Update Qtys </button>

                </div>
            </div>
        </div>
    </div>

</body>

</html>
