$font-stack: "Open Sans";
$content-box: 0 0 10px black;
$box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
$box-size: border-box;

#welcome {
  text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
* {
  -moz-box-sizing: $box-size;
  -webkit-box-sizing: $box-size;
  box-sizing: $box-size;
}

body {
  font-family: $font-stack;
  font-size: 16px;
  color: White;
  font-smoothing: antialiased;
  font-weight: 600;
}

a {
  color: #BBB;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: black;
  background-image: url("http://wallpapers-web.com/data/out/28/3943148-beautiful-kitchen-wallpapers.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 540px;
  height: 540px;
  background-color: rgba(10, 10, 10, 0.5);
  margin: auto auto;
  padding: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: $content-box;
  -webkit-box-shadow: $content-box;
  box-shadow: $content-box;
}
.content .register {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  padding-bottom: 30px;
}
.content input {
  width: 100%;
  font-size: 1.2rem;
  font-family: $font-stack;
  margin: 10px 0px;
  border: none;
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.content label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

.content .head {
  margin: 5%;
}

.content #already {
  text-align: center;
  font-size: 0.9rem;
}

